body {
    background-color: #FADADD;
    margin: 0;
    font-family: 'playfair-display-regular', serif;
    text-align: center;
}

.subtitle, .subtitle2, .subtitle3 {
    font-weight: lighter;
    color: #C99700;
    margin: 10px auto;
}

.subtitle3 {
    color: #3E3E3E;
    font-weight: 100;
}

.title {
    max-width: 90%;
    margin: 10px auto;
    font-size: 40px;
    color: #3E3E3E;
    font-family: 'great-vibes-regular', cursive;
}

.gif {
    border-radius: 30px;
    width: 250px;
    height: auto;
    margin: 10px auto;
}

.button {
    background-color: #FADADD;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

/* Ajustes para celular */
@media (max-width: 480px) {
    .title {
        font-size: 28px;
    }
    .subtitle, .subtitle2 {
        font-size: 18px;
    }
    .subtitle3 {
        font-size: 16px;
    }
    .gif {
        width: 60%;
    }
}